<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    style
        include ../static/style.css

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>
            | #{content}
        </h2>
        <p> 
            | #{message}
        </p>

        <form action="/contact" method="post" id="contact">
            <input type="text" name="user" id="user" placeholder="Enter your name" required>
            <input type="number" min="0" max="150" name="age" id="age" placeholder="Enter your age" required>
            <input list="gender" name="gender" placeholder="Enter your gender" required>
            <datalist id="gender">
                <option value="Male">
                <option value="Female">
            </datalist>
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address" required></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you.."></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>
