<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>

    style
        include ../static/style.css

</head>
<body style="background: url('https://source.unsplash.com/1600x900/?gym,treadmill,dumbbell') no-repeat center center">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>
            | #{content}
        </h2>
        <p> 
            | #{message}
        </p>
        <div id="maincontent">
            <p>Benefits of regular physical activity:
                If you are regularly physically active, you may:
                reduce your risk of a heart attack 
                manage your weight better 
                have a lower blood cholesterol level 
                lower the risk of type 2 diabetes and some cancers 
                have lower blood pressure 
                have stronger bones, muscles and joints and lower risk of developing osteoporosis 
                lower your risk of falls 
                recover better from periods of hospitalisation or bed rest 
                feel better – with more energy, a better mood, feel more relaxed and sleep better. </p><br>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, dolor ut enim omnis asperiores natus dicta repellat corrupti doloremque nisi officiis odio laborum fuga modi quia odit voluptatibus? Consectetur magnam ipsa dolorum voluptatem debitis eligendi aliquam iste fugit ducimus esse voluptatum cupiditate consequatur non, assumenda voluptas repellat officiis odio mollitia? Saepe, deleniti esse qui omnis labore ut similique autem debitis, obcaecati, assumenda maxime odio iste atque. Voluptatibus voluptatem, neque maiores optio enim qui perferendis porro assumenda at ullam cumque dolore molestiae accusamus voluptas vero dolores eos animi veritatis voluptatum. Ipsam consequuntur eveniet et facilis dolorem voluptates assumenda reiciendis, quae tenetur, aspernatur dolore ab? Libero recusandae impedit harum sit ullam nihil. Amet ex aperiam possimus inventore minima, id est repellendus totam cupiditate in dolorem quibusdam autem excepturi voluptas deleniti? Impedit esse consequatur perferendis magnam, vero, nostrum odit, ipsam distinctio dolor provident adipisci dignissimos dicta velit tempora sunt alias est? Quasi quam placeat, quae at consequuntur ullam obcaecati, ipsa quod aperiam quos voluptatibus animi laudantium. Repellendus ducimus ea in officiis voluptate similique impedit cum, est quasi quis delectus perferendis hic, tenetur veniam repudiandae cumque tempora magnam atque quae ratione, aut corporis. Aliquid dolores error eaque autem accusantium culpa illum quidem nisi necessitatibus!</p>
        </div>
    </div>
</body>
</html>
